.advantages {
  height: 828px;
  background-color: @lightgrey;
}

.advantages__title {
  position: relative;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
}

.advantages__description {
  position: relative;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #283645;
}

.phone-image__wrapper {
  display: flex;
  justify-content: center;
}
