.advantages {
  position: relative;
  background-color: @lightgrey;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 40px;
    background-color: @lightgrey;
    left: 0;
    top: -40px;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  }

  @media (min-width: @tablet-width) {
    width: 660px;
    margin-top: 76px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.advantages__wrapper-wrapper {
  padding-top: 53px;

  @media (min-width: @tablet-width) {
    padding-top: 20px;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 184px 0 184px;
  }
}

.advantages__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
}

.advantages__wrapper-phone {
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: block;
    width: 186px;
    height: 382px;
  }
}

.advantages__wrapper-phone-screen {
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: block;
    position: absolute;
    width: 165px;
    height: 294px;
    bottom: 140px;
  }
}


.advantages__title {
  margin: 0;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;

  @media (min-width: @tablet-width) {
    padding-left: 330px;
    width: 310px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin: 0;
  }
}

.advantages__description {
  margin: 0;
  padding-top: 24px;
  padding-bottom: 43px;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #283645;

  @media (min-width: @tablet-width) {
    padding-left: 330px;
    padding-right: 20px;
    padding-top: 15px;
    width: 310px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin: 0;
  }
}

.advantages-phone-image__wrapper-phone {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -100px;
  bottom: -100px;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.advantages-phone-image__screen {
  position: absolute;
  top: 36px;
  left: 91px;
}

.advantages-phone-image__wrapper-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    position: absolute;
    bottom: -67px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}
