.contacts {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 123px;
    background-color: @grey;
    left: 0;
    bottom: -122px;
    clip-path: polygon(100% 0, 0 0, 50% 30%);

    @media (min-width: @tablet-width) {
      position: absolute;
      content: "";
      width: 100%;
      height: 123px;
      background-color: @grey;
      left: 0;
      bottom: -122px;
      clip-path: polygon(100% 0, 0 0, 50% 30%);
    }

    @media (min-width: @desktop-width) {
      position: absolute;
      content: "";
      background-color: #f2f2f2;
      width: 100%;
      height: 301px;
      left: 0;
      bottom: -300px;
      clip-path: polygon(100% 0, 0 0, 50% 30%);
    }
  }
}

.contacts__header {
  padding-top: 50px;
  padding-bottom: 45px;
  position: relative;
  width: 222px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #283645;

  @media (min-width: @tablet-width) {
    width: 370px;
    padding-top: 55px;
    padding-left: 145px;
    padding-right: 145px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #283645;
  }

  @media (min-width: @desktop-width) {
    width: 462px;
    height: 106px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #283645;
    padding-top: 74px;
  }
}

.contacts-info__wrapper-wrapper {
  @media (min-width: @tablet-width) {
    width: 544px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.contacts-info__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 241px;
    align-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 250px;
    align-content: space-between;

    &--mail {
      order: 1;
    }
  }
}

.contacts-info__title {
  padding-bottom: 13px;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #283645;
  margin: 0;
}

.contacts-info__description {
  width: 211px;
  padding-bottom: 31px;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: @pink;
  margin: 0;
}

.contacts-info__description a {
  text-decoration: none;
  color: @pink;
}
