.intro__wrapper {
  margin: 0;
  color: #000000;
  background-color: @lightgrey;
  flex-grow: 1;
  position: relative;
  background-repeat: no-repeat;
  background-image: url("../../img/main_page/back-mobile.png");
  height: 462px;
  display: flex;
  justify-content: center;
  background-position: center;

  @media (min-width: @tablet-width) {
    height: 729px;
    background-image: url("../../img/main_page/back-tablet.png");
    justify-content: flex-start;
  }

  @media (min-width: @desktop-width) {
    height: 853px;
    background-image: url("../../img/main_page/back-desktop.png");
  }
}

.intro__wrapper::after {
  content: url("../../img/main_page/phone.png");
  display: block;
  position: absolute;
  bottom: 0;
  height: 286px;
  width: 320px;
  @media (min-width: @tablet-width) {
    content: url("../../img/main_page/tablet/hand-tablet.png");
    display: block;
    position: absolute;
    bottom: 0;
    height: 545px;
    width: 660px;
  }
  @media (min-width: @desktop-width) {
    content: url("../../img/main_page/desktop/hand-desktop.png");
    display: block;
    position: absolute;
    bottom: 0;
    height: 645px;
    width: 1050px;
  }
}

.intro {
  width: 280px;
  height: 47px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: @white;
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 95px;
  @media (min-width: @tablet-width) {
    width: 200px; /*-50px с каждой стороны чтобы было 3 строки*/
    height: 127px;
    margin-left: calc(20px + 50px);
    margin-top: 212px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    color: @white;
  }

  @media (min-width: @desktop-width) {
    height: 174px;
    width: 300px;
    margin-left: 120px;
    margin-top: 212px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    display: flex;
    align-items: center;
    text-align: center;
    color: @white;
  }
}


