.reviews {
  position: relative;
  background-color: @white;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: column-reverse;
  }
}

.reviews__reviewer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__reviewer {
  position: relative;
  width: 158px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    padding-top: 51px;
  }
}

.reviews__reviewer-occupation {
  display: none;

  @media (min-width: @tablet-width) {
    padding-top: 5px;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #283645;
  }

  @media (min-width: @desktop-width) {
    width: 224px;
    height: 13px;
    padding-top: 17px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #283645;
  }
}

.reviews__review {
  position: relative;
  width: 280px;
  height: 160px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #283645;

  @media (min-width: @tablet-width) {
    width: 620px;
    height: 73px;
    order: -1;
    margin: 0;
  }
}

.reviews__slider-toggles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reviews__slider-toggle {
  width: 6px;
  height: 6px;
  background: #283645;
  opacity: 0.3;
  border: none;
  border-radius: 50%;
  padding: 0;
}
