.reviews {
  position: relative;
  background-color: @white;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 940px;
    flex-direction: row;
    justify-content: center;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    padding: 30px 0 30px 0;
    justify-content: center;
    background-image: url("../../img/quotes.svg");
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 65px;
  }
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @desktop-width) {
    padding-top: 50px;
  }
}

.reviews__reviewer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__reviewer {
  position: relative;
  width: 158px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  margin: 0;
  padding-top: 50px;

  @media (min-width: @tablet-width) {
    padding-top: 51px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin: 0;
  }
}

.reviews__reviewer-occupation {
  display: none;

  @media (min-width: @tablet-width) {
    padding-top: 5px;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #283645;
  }

  @media (min-width: @desktop-width) {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #283645;
    padding: 0;
    margin: 0;
  }
}

.reviews__review {
  position: relative;
  width: 280px;
  height: 160px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #283645;

  @media (min-width: @tablet-width) {
    width: 620px;
    height: 73px;
    order: -1;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;

    &::before {
      background-image: url("../../img/left-arrow.svg");
    }

    &::after {
      background-image: url("../../img/right-arrow.svg");
    }
  }
}

.reviews__slider-toggles {
  width: 68px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.reviews__slider-toggle {
  width: 12px;
  height: 12px;
  background-color: #283645;
  border: 3px solid transparent;
  opacity: 0.3;
  border-radius: 50%;
  padding: 0;
}

.reviews__slider-toggle--current {
  background-color: @white;
  border: 3px solid #283645;
}
