.tariffs__wrapper-wrapper {
  position: relative;
  width: 320px;
  margin-top: 40px;
  background-color: @lightgrey;
  padding-bottom: 46px;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 40px;
    background-color: @lightgrey;
    left: 0;
    top: -40px;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    z-index: 100;
  }

  @media (min-width: @tablet-width) {
    width: 660px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.tariffs__wrapper {
  position: relative;
  display: flex;
  justify-items: center;
  padding-top: 49px;
  padding-bottom: 49px;
  overflow-x: hidden;
}

.tariffs {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: calc(280px * 3);
  flex-shrink: 0;
  border-collapse: collapse;

  @media (min-width: @tablet-width) {
    width: 616px;
    height: 216px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    height: 277px;
  }
}

.tariffs__title {
  position: relative;
  width: 152px;
  height: 75px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: @white;
  background: #283645;
  border: 2px solid @grey;
  border-radius: 1px 0 0 0;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    width: 152px;
    height: 75px;
  }

  @media (min-width: @desktop-width) {
    width: 233px;
    height: 94px;
  }
}

.tariffs__title--hit {
  position: relative;
  overflow: hidden;

  &::before {
    left: -115px;
    top: 10px;
    width: 100%;
    transform: rotate(-45deg);
    position: absolute;
    content: "ХИТ";
    background-color: @pink;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: @white;
    margin: 0;
    padding: 0;

    @media (min-width: @tablet-width) {
      line-height: 15px;
      left: -52px;
      top: 10px;
    }

    @media (min-width: @desktop-width) {
      line-height: 30px;
      left: -90px;
      top: 15px;
    }
  }
}

.tariffs__price {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: @white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.tariffs__option {
  display: none;

  @media (min-width: @tablet-width) {
    width: 153px;
    display: table-cell;
    text-align: left;
    padding-left: 15px;
    background: @white;
    border: 2px solid @grey;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    align-items: center;
    justify-content: center;
    color: #283645;
  }

  @media (min-width: @desktop-width) {
    display: table-cell;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    color: #283645;
  }
}

.tariffs__cell-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-left: 20px;
  padding-right: 17px;
}

.tariffs__cell {
  width: 276px;
  height: 59px;
  text-align: center;
  background: @white;
  border: 2px solid @grey;

  @media (min-width: @tablet-width) {
    width: 153px;
  }
}

.tariffs__cell-option {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #283645;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.tariffs__cell-img {
  @media (min-width: @tablet-width) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.tariffs__slider {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.tariffs__slider-toggles {
  width: 68px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.tariffs__slider-toggle {
  width: 12px;
  height: 12px;
  background-color: #283645;
  border: 3px solid transparent;
  opacity: 0.3;
  border-radius: 50%;
  padding: 0;

  &:hover {
    background-color: rgba(40, 54, 69, 0.6);
  }

  &:active {
    background-color: rgba(40, 54, 69, 0.1);
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.tariffs__slider-toggle--current {
  background-color: @white;
  border: 3px solid #283645;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
