.main-nav {
  min-height: 63px;
  width: 100%;

  .page-header--closed & {
    display: none;
  }

  .page-header--opened & {
    display: block;
  }

  @media (min-width: @desktop-width) {
    .page-header--closed & {
      display: flex;
      align-items: center;
      padding-right: 130px;
    }
  }
}


.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
  }
}

.main-nav__list a {
  position: relative;
  display: block;
  text-align: center;
  padding: 25px 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  color: @white;
  text-decoration: none;
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);

  &:hover {
    color: @pink;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }



  @media (min-width: @desktop-width) {
    display: inline;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    align-items: center;
    color: @white;
    box-shadow: none;
  }
}

.main-nav__list-item {
  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.main-nav__list-item--current {
  @media (min-width: @desktop-width) {
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background-color: @white;
      left: 0;
      top: 50px;
    }
  }
}
