.page-header {
  background-color: rgba(0, 0, 0, 0.3);
  color: @white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}

.page-header__wrapper {
  display: flex;
  width: 320px;

  @media (min-width: @tablet-width) {
    display: flex;
    width: 660px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 940px;
  }
}

.page-header__logo-mobile {
  position: absolute;
  padding-left: 20px;
  padding-top: 20px;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__logo-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    position: absolute;
    padding-top: 27px;
    padding-left: 20px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__logo-desktop {
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    display: block;
    padding: 27px 0 43px 0;
  }
}
