.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.card:first-child {
  margin-top: 0;
}

.card__photo-container {
  position: relative;
  display: flex;
  justify-content: end;
}

.card__photo-mobile {
  display: flex;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.card__photo-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.card__photo-desktop {
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.card__photo-tag {
  position: absolute;
  width: 140px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  color: @white;
  text-transform: uppercase;
  background: @pink;
  margin-right: 20px;
  margin-top: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin-top: 57px;
  }
}

.card__post {
  width: 280px;
  background: @lightgrey;

  @media (min-width: @tablet-width) {
    width: 300px;
    height: 121px;
  }
}

.card__post-header {
  height: 10px;
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-left: 17px;
}

.card__post-author {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #283645;
  margin: 0;
  padding: 0;
}

.card__post-time {
  margin-left: 3px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #283645;
}

.card__post-description-wrapper {
  margin-left: 17px;
  margin-right: 10px;
  margin-top: 14px;

  @media (min-width: @tablet-width) {
    &:not(:first-of-type) {
      width: 300px;
      height: 155px;
    }
  }
}

.card__post-description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #283645;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.card__post-footer {
  height: 12px;
  display: flex;
  align-items: center;
  margin-left: 17px;
  margin-top: 23px;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    margin-left: 170px;
    margin-top: -180px;
  }
}

.card__post-heart {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    order: 3;
  }
}

.card__post-liked,
.card__post-liked-counter {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: right;
  text-transform: uppercase;
  color: @pink;
}

.card__post-liked {
  margin-left: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

.card__post-liked-counter {
  margin-left: 2px;
}
