.slider__container {
  display: flex;
  justify-content: center;
  margin-top: 39px;

  &:nth-of-type(1) {
    order: 1;
  }

  &:nth-of-type(2) {
    display: none;
  }

  &:nth-of-type(3) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    margin: 0;
    padding-left: 20px;

    &:nth-of-type(2) {
      display: inline;
    }

    &:nth-of-type(3) {
      display: inline;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    margin: 0;
    padding-left: 40px;
  }
}

.slider {
  -webkit-appearance: none;
  width: 240px;
  height: 2px;
  background: #283645;
  outline: none;
  opacity: 1;

  @media (min-width: @tablet-width) {
    width: 202px;
  }
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: @white;
  border: 2px solid @pink;
  box-sizing: border-box;
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  background: @pink;
}
