.upload {
  background-color: @lightgrey;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-content: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
    height: 511px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 940px;
    justify-self: center;
  }
}

.upload__photo--wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    width: 300px;
  }
}

.upload__photo-mobile {
  display: flex;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.upload__photo-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    position: absolute;
  }
}

.upload__instrument-wrapper {
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    display: flex;
    width: 320px;
    padding-left: 350px;
  }
}

.upload__instrument {
  width: 280px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 42px;
  align-items: center;
  /*
  :nth-child(2) {
    order: 6;
    flex-basis: 100%;
  }
*/
  @media (min-width: @tablet-width) {
    width: 253px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    /*
    :nth-child(2) {
      order: 1;
    }*/
  }
  @media (min-width: @desktop-width) {
    width: 380px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
}

.upload__instrument-crop-mobile,
.upload__instrument-contrast-mobile,
.upload__instrument-fill-mobile {
  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.upload__instrument-crop-tablet,
.upload__instrument-contrast-tablet,
.upload__instrument-fill-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.upload__button-wrapper {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: @tablet-width) {
    padding-left: 300px;
  }
  @media (min-width: @desktop-width) {
    width: 410px;
  }
}

.upload__button-post {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: @pink;
  border: 3px solid @pink;
  box-sizing: border-box;
  border-radius: 30px;
  cursor: pointer;
  width: 280px;
  height: 55px;
  @media (min-width: @tablet-width) {
    width: 260px;
    height: 55px;
  }
  @media (min-width: @desktop-width) {
    margin-top: 166px;
    width: 183px;
    height: 55px;
  }
}

.upload__button-cancel {
  margin-top: 12px;
  margin-bottom: 41px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #283645;
  opacity: 0.1;
  border: 3px solid #283645 0.1;
  box-sizing: border-box;
  border-radius: 30px;
  cursor: pointer;
  width: 280px;
  height: 55px;
  @media (min-width: @tablet-width) {
    width: 260px;
    height: 55px;
  }
  @media (min-width: @desktop-width) {
    margin-top: 166px;
    width: 183px;
    height: 55px;
  }
}

.upload__button-cancel:hover {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: @pink;
  border: 3px solid @pink;
  box-sizing: border-box;
  border-radius: 30px;
  cursor: pointer;
  width: 280px;
  height: 55px;
  opacity: 1;
  @media (min-width: @tablet-width) {
    width: 260px;
    height: 55px;
  }
  @media (min-width: @desktop-width) {
    width: 183px;
    height: 55px;
  }
}
