.upload {
  width: 100%;
  background-color: @lightgrey;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 57px;
    padding-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.upload__wrapper {
  @media (min-width: @tablet-width) {
    width: 620px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}

.upload__photo {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 300px;
    height: 400px;
    flex-shrink: 0;
    margin-right: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 90px;
  }
}

.upload__photo-mobile {
  display: block;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.upload__photo-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.upload__form {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    align-content: flex-start;
  }
}

.upload__form-label-container {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin: 0 auto;
  width: 280px;
  padding-top: 42px;

  @media (min-width: @tablet-width) {
    width: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    height: 186px;
    padding-top: 9px;
    padding-bottom: 27px;
    margin-right: 20px;
  }
}

.upload__form-label {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 24px;
    height: 24px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 275px;
      left: -5px;
      height: 1px;
      bottom: -30px;
      background: #283645;
      opacity: 0.1;

      @media (min-width: @desktop-width) {
        display: none;
      }
    }
  }

  @media (min-width: @desktop-width) {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::after {
      display: block;
      position: absolute;
      content: "";
      width: 410px;
      left: -5px;
      height: 1px;
      bottom: -15px;
      background: #283645;
      opacity: 0.1;
    }
  }
}

.upload__form-label-crop-svg {
  &--active {
    fill: currentColor;
    color: @pink;
  }

  fill: currentColor;
  color: rgba(40, 54, 69, 0.3);

  &:hover {
    color: rgba(40, 54, 69, 0.5);
  }
}

.upload__form-label-fill-svg {
  fill: currentColor;
  color: rgba(40, 54, 69, 0.3);

  &:hover {
    color: rgba(40, 54, 69, 0.5);
  }
}

.upload__form-label-contrast-svg {
  fill: currentColor;
  color: rgba(40, 54, 69, 0.3);

  &:hover {
    color: rgba(40, 54, 69, 0.5);
  }
}

.upload__form-input {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 39px;
  position: relative;
  margin-bottom: 73px;

  &::after {
    position: absolute;
    content: "";
    width: 100vw;
    height: 1px;
    bottom: -35px;
    background: #283645;
    opacity: 0.1;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    width: 202px;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    height: 170px;
    padding-top: 15px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 150px;
    width: 288px;
  }
}

.upload__form-input-slider {
  -webkit-appearance: none;
  width: 240px;
  height: 2px;
  background: #283645;
  outline: none;
  opacity: 1;
  display: none;

  &--active {
    display: block;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: @white;
    border: 2px solid @pink;
    box-sizing: border-box;
    cursor: pointer;
  }

  &::-webkit-slider-thumb:hover {
    background: @pink;
  }

  @media (min-width: @tablet-width) {
    width: 202px;
    display: block;
  }
}

.upload__form-button {
  width: 280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.upload__form-button-post {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: @pink;
  border: 3px solid rgba(210, 40, 86, 1);
  box-sizing: border-box;
  border-radius: 30px;
  cursor: pointer;
  padding: 21px 90px;
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    padding: 21px 80px;
  }

  @media (min-width: @desktop-width) {
    padding: 21px 42px;
    margin: 0;
  }

  &:hover {
    color: @white;
    background-color: @pink;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.upload__form-button-cancel {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #283645;
  opacity: 0.1;
  border: 3px solid #283645;
  box-sizing: border-box;
  border-radius: 30px;
  cursor: pointer;
  padding: 21px 90px;

  @media (min-width: @tablet-width) {
    padding: 21px 80px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 21px 42px;
    margin: 0;
  }

  &:hover {
    color: #283645;
    opacity: 0.3;
    border: 3px solid #283645;
    box-sizing: border-box;
  }

  &:active {
    color: @white;
    background: #283645;
  }
}


/*
.upload__photo-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    display: flex;
    margin: 0;
    padding: 0;
    width: 300px;
  }
}

.upload__photo-mobile {
  display: flex;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.upload__photo-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    position: relative;
  }
}

.upload__instrument-wrapper {
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.upload__instrument {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 42px;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: block;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 380px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
}

.upload__instrument-crop-mobile,
.upload__instrument-contrast-mobile,
.upload__instrument-fill-mobile {
  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.upload__instrument-crop-tablet,
.upload__instrument-contrast-tablet,
.upload__instrument-fill-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.upload__wrapper {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &:last-child {
    padding-bottom: 41px;
  }

  @media (min-width: @tablet-width) {
    margin-top: -200px;
    padding-left: 300px;
  }

  @media (min-width: @desktop-width) {
    width: 410px;
  }
}

.upload__wrapper-button-post {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: @pink;
  border: 3px solid @pink;
  box-sizing: border-box;
  border-radius: 30px;
  cursor: pointer;
  width: 280px;
  height: 55px;

  @media (min-width: @tablet-width) {
    width: 260px;
    height: 55px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 166px;
    width: 183px;
    height: 55px;
  }
}

.upload__wrapper-button-cancel {
  margin-top: 12px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #283645;
  opacity: 0.1;
  border: 3px solid #283645 0.1;
  box-sizing: border-box;
  border-radius: 30px;
  cursor: pointer;
  width: 280px;
  height: 55px;

  @media (min-width: @tablet-width) {
    width: 260px;
    height: 55px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 166px;
    width: 183px;
    height: 55px;
  }
}

.upload__wrapper-button-cancel:hover {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: @pink;
  border: 3px solid @pink;
  box-sizing: border-box;
  border-radius: 30px;
  cursor: pointer;
  width: 280px;
  height: 55px;
  opacity: 1;

  @media (min-width: @tablet-width) {
    width: 260px;
    height: 55px;
  }

  @media (min-width: @desktop-width) {
    width: 183px;
    height: 55px;
  }
}
*/
