.achievements {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @lightgrey;
  padding: 35px 0 36px 0;

  @media (min-width: @tablet-width) {
    order: 4;
    background-color: @white;
    border: 2px solid @grey;
    border-radius: 1px;
  }

  @media (min-width: @desktop-width) {
    align-items: flex-start;
    position: relative;
  }
}

.achievements__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: @pink;

  @media (min-width: @desktop-width) {
    width: 400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
    background-color: @white;
    padding: 0 31px;
  }
}

.achievements__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 280px);
    padding-left: 60px;
  }
}

.achievements__wrapper-label {
  padding: 41px 0 11px;

  @media (min-width: @desktop-width) {
  }
}

.achievements__wrapper-input {
  position: absolute;
  clip-path: circle(0);
}

.achievements__wrapper-input:checked + .achievements__wrapper-text::before {
  background-image: url("../../img/tick.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.achievements__wrapper-text {
  position: relative;
  display: inline-block;
  padding: 0 0 0 59px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  color: #283645;

  &:hover {
    position: absolute;
    left: 0;
    content: "";
    width: 35px;
    height: 35px;
    background: @white;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid #283645;
    border-radius: 1px;
  }

  &::before {
    position: absolute;
    left: 0;
    content: "";
    width: 35px;
    height: 35px;
    border: 2px solid @grey;
    background: @white;
    border-radius: 1px;
    top: 50%;
    transform: translateY(-50%);
  }
}
