.achievements {
  background: @lightgrey
}



.achievements__title {
position: relative;
font-family: "Open Sans";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #pink;
}

.achievements__check-list {
  list-style: none;
}
