.feedback {
  border: none;
  margin: 0;
  padding: 40px 0 0;

  @media (min-width: @tablet-width) {
    order: 5;
    padding: 47px 0 53px;
    border: 2px solid @grey;
    border-radius: 1px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    width: 100%;
    padding: 44px 0 45px;
    border: 2px solid @grey;
    border-radius: 1px;
  }
}

.feedback__header {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: @pink;
  justify-content: center;
  padding-bottom: 16px;

  @media (min-width: @desktop-width) {
    width: 200px;
    margin: 0 auto;
    top: -53px;
    background-color: @white;
    padding: 0 38px;
  }
}

.feedback__field {
  width: 276px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  resize: none;
  padding-left: 20px;
  padding-top: 14px;
  border: 2px solid @grey;
  border-radius: 1px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #283645;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 496px;
  }

  @media (min-width: @desktop-width) {
    width: 816px;
  }
}
