.form-contacts {
  text-transform: uppercase;
  border: none;
  width: 280px;
  display: flex;
  flex-direction: column;
  padding: 32px 0 43px 0;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 616px;
    border: 2px solid @grey;
    border-radius: 1px;
    order: 3;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}

.form-contacts__header {
  display: none;

  @media (min-width: @tablet-width) {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: @pink;
    justify-content: center;
    width: 260px;
    padding: 0;
    background-color: @white;
    top: -70px;
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    padding-left: 0 31px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.form-contacts__wrapper&.e-mail {
  padding-top: 16px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    padding-right: 60px;
  }
}

.form-contacts__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media (min-width: @desktop-width) {
    width: 371px;
    padding-left: 60px;
  }
}

.form-contacts__title {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: @pink;
  padding: 0;
  margin: 0 0 0 24px;
}

.form-contacts__telephone-wrapper {
  padding-top: 6px;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.form-contacts__email-wrapper {
  padding-top: 6px;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.form-contacts__telephone,
.form-contacts__email {
  width: calc(276px - 20px);
  height: 59px;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  color: #283645;
  border: 2px solid @grey;
  border-radius: 1px;
  padding: 0 0 0 20px;

  &::placeholder {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    color: #283645;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 350px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.form-contacts__phone-icon,
.form-contacts__letter-icon {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    width: 59px;
    height: 59px;
    justify-content: center;
    align-items: center;
    background-color: @grey;
    margin: 0;
    padding: 0;
    border: 2px solid @grey;
    border-radius: 1px;
  }
}
