.form-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
  }
}

.form-main__header-wrapper {
  width: 100%;
  padding: 95px 0 43px 0;
  margin: 0;
  color: #000000;
  background-color: @lightgrey;
  flex-grow: 1;
  position: relative;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-image: url("../../img/back-mobile.jpg");

  @media (min-width: @tablet-width) {
    background-image: url("../../img/back-tablet.jpg");
  }

  @media (min-width: @desktop-width) {
    background-image: url("../../img/back-desktop.jpg");
  }
}

.form-main__header {
  width: 280px;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: @white;
  margin: 0 auto;


  @media (min-width: @tablet-width) {
    width: 620px;
    font-weight: 300;
    font-size: 50px;
  }
}

.form-main__intro {
  width: 270px;
  padding-top: 45px;
  margin: 0 auto;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #283645;

  @media (min-width: @tablet-width) {
    width: 490px;
    font-size: 18px;
    line-height: 30px;
    padding-top: 100px;
    margin: 0;
  }
}

.form-main__form {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form-main__form-intro {
  display: none;

  @media (min-width: @tablet-width) {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #283645;
    margin: 0;
    padding-bottom: 54px;
  }
}
