.os-choice {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @lightgrey;
  border: none;
  padding: 38px 0 43px 0;

  @media (min-width: @tablet-width) {
    order: 2;
    background-color: @white;
    border: 2px solid @grey;
    border-radius: 1px;
    align-items: flex-start;
  }

  @media (min-width: @desktop-width) {
    width: 45%;
  }
}

.os-choice__header {
  width: 178px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: @pink;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    position: relative;
    top: -60px;
    background-color: @white;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    top: -47px;
    width: 325px;
    padding: 0 25px;
  }
}

.os-choice__wrapper {
  height: 179px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding-left: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 74px;
  }
}

.os-choice__wrapper-input {
  position: absolute;
  clip-path: circle(0);
}

.os-choice__wrapper-input:checked + .os-choice__wrapper-text::before {
  background-image: url("../../img/pink-dot.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.os-choice__wrapper-text {
  position: relative;
  display: inline-block;
  padding: 0 0 0 68px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  color: #283645;

  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    content: "";
    width: 35px;
    height: 35px;
    border: 2px solid @grey;
    background: @white;
    border-radius: 50%;
  }
}
