.registration-data,
.achievements,
.form-contacts,
.os-choice,
.feedback {
  border: none;
}

.registration-data-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.registration-data__title {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: @pink;
  padding: 0;
  margin-left: 43px;

  @media (min-width: @tablet-width) {
    margin-left: 20px;
  }
}

.registration-data__second-name,
.registration-data__first-name,
.registration-data__patronymic {
  width: calc(276px - 20px);
  height: 59px;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  color: #283645;
  border: 2px solid @grey;
  border-radius: 1px;
  margin-left: 20px;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    width: 521px;
  }
}
